* {
    box-sizing: inherit;
    border: 1px solid blue;
}

/* IMAGES AND LINKS */

body {
    color: white;
    margin: 0;
}

.mainImg {
    height: 10em;
    width: auto;
}

#projectImg {
    height: 15em;
    width: auto;
}
  
a, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: darkred;
}

/* HEADER */

header {
    background-color: black;
    border-bottom: 1em solid darkred;
    position: fixed;
    top: 0;
    width: 100%;
}

.headerLinks {
    display: flex;
    justify-content: space-evenly;
}

