* {
    box-sizing: inherit;
}

/* IMAGES AND LINKS */

body {
    color: white;
    margin: 0;
    overflow-x: hidden;
    background-color: black;
}

.mainImg {
    height: 20em;
    width: auto;
}

#projectImg {
    height: 14em;
    width: auto;
    border: 2px solid darkred;
}

#projectImg:hover {
    border: 5px solid darkred;
}

a, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: darkred;
    cursor: pointer;
}

/* HEADER */

header {
    background-color: black;
    border-bottom: 1em solid darkred;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.headerLinks {
    display: flex;
    justify-content: space-evenly;
}

/* INTRODUCTION */

.mainIntro {
    height: 100vh;
    width: 99vw;
    background: linear-gradient(black, rgb(87, 11, 11), black);
    display: flex;
    justify-content: center;
}

.gitPicture {
    position: absolute;
    top: 15em;
}

.introText {
    position: absolute;
    top: 33em;
    text-align: center;
}

.helloText {
    font-weight: bold;
    font-size: 50px;
}

.webdevText {
    margin-top: -1em;
    padding: 0;
    color: darkred;
}

.aboutSections {
    background-color: black;
    border-bottom: 1em solid darkred;
    margin-top: -1.4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    font-size: 18px;
    padding-bottom: 2em;
}

.aboutHeader {
    font-size: 22px;
    padding-bottom: 5px;
    border-bottom: 2px solid darkred;
}

.aboutSkills {
    height: 13em;
    width: 20em;
}

.aboutTraining {
    height: 13em;
    width: 23em;
}

.aboutAwards {
    height: 13em;
    width: 20em;
}

.awards {
    font-size: 19px;
}

button {
    color: darkred;
    background-color: black;
    padding: 7px;
    border: 1px solid darkred;
    margin: 5px;
}

button:hover {
    color: black;
    background-color: white;
}

/* PROJECTS SECTION */

.generalProjectSection, .javascriptProjectSection {
    background: linear-gradient(black, rgb(87, 11, 11), black);
    text-align: center;
    padding-bottom: 5em;
    margin-top: -1.5em;
}

.javascriptProjectSection {
    border-bottom: 1em solid darkred;
}

.projectMainTitleJS, .projectMainTitleGeneral {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid darkred;
    font-size: 40px;
}

.generalProjects,.javascriptProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 99vw;
    padding-top: 5em;
}

.projectTitle {
    font-weight: bold;
    font-size: 22px;
    margin-top: -4px;
    background-color: black;
    padding-top: 10px;
    height: 1.5em;
    border-bottom: 5px solid darkred;
    border-right: 5px solid darkred;
    border-left: 5px solid darkred;
    border-top: 2px solid darkred;
}

/* CONTACT SECTION */

.contentContainer {
    background: linear-gradient(black, rgb(87, 11, 11), black);
    text-align: center;
}

.contactsMainHeader {
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 2.5em;
}

.contactSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 30em;
    margin: auto;
}

.contactIMG {
    width: 150px;
    height: auto;
}

.contactTitle {
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
    padding-top: 5px;
    background-color: black;
    height: 1.5em;
    border: 5px solid darkred;
    border-radius: 15px;
}


@media (max-width: 500px) {
    .contactSection {
        margin-top: -10em;
    }
  }