* {
    box-sizing: inherit;
}

.hide {
    display: none;
}

a, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: darkred;
}

/* Header */

header {
    position: absolute;
    background-color: darkblue;
    color: white;
    text-align: center;
    width: 99vw;
    height: 10.5em;
    top: 0;
    left: 0;
    border-bottom: 1em solid black;
}

.gameName {
    margin-bottom: -20px;
    font-size: 40px;
    font-weight: bold;
    padding-top: 15px;
}

h4 {
    font-size: 20px;
}


main {
    position: absolute;
    background-color: white;
    color: black;
    top: 11.5em;
    left: 0;
    width: 99vw;
    height: 50em;
}

.darkMode {
    background-color: black;
    color: white;
}

/* Light Mode / Dark Mode Button */

.lightDarkImg {
    height: 3em;
    width: 3em;
}

.lightDark {
    background-color: transparent;
    border: none;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.lightDark:hover {
    cursor: pointer;
    background-color: rgb(67, 67, 67);
}

/* Main Game Display */

.mainGameSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    width: 50em;
}

.playerText, .computerText, .computerPointText, .playerPointText {
    border: 2px solid rgb(67, 67, 67);
    background-color: lightskyblue;
    width: 10em;
    height: 1.5em;
    text-align: center;
    padding-top: 8px;
    border-radius: 40px;
    color: black;
}

.computerPointText, .playerPointText {
    font-size: 20px;
    margin: auto;
}

.computerChoice, .playerChoice {
    width: 15em;
    height: 15em;
    border: 2px solid rgb(67, 67, 67);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 15px;
}

.vsSign {
    font-size: 70px;
    margin-top: auto;
    margin-bottom: auto;
}

.gameIMG {
    width: 15em;
    height: auto;
}